__pycache__
.idea
.DS_Store
*.egg-info
build
.venv
.vscode

# data
data
datasets
checkpoints
out
wandb

tests/original_falcon_40b.py
tests/original_phi_1_5.py

*.json
rmf.py
nohup.out
logs
sh_logs
results
api.py
Dockerfile
fast_api_requirements.txt
helper.py
main.py